:root {
  --default: var(--primary);
  --currentColor: var(--default);
}

.btn {
  position: relative;
  background-color: var(--primary100);
  border: 1px solid var(--neutral900);
  color: var(--neutral900);
  border-radius: 15px;
  height: 28px;
  min-width: 85px;
  width: fit-content;
  font-size: 11px;
  padding: 0 10px;
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s, color 0.3s;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: currentColor;
      transition: none;
    }
  }

  &.default {
    background-color: var(--currentColor);
    border: 1px solid var(--primary);
    color: var(--primary100);

    &:hover {
      border: 1px solid var(--primaryHover);
      background-color: var(--primaryHover);
    }
  }

  &.completed {
    background-color: var(--primary100);
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover {
      background-color: var(--primary);
      color: var(--primary100);
    }
  }

  .btn-label {
    line-height: 11px;
    margin-top: -2px;
  }
}
