.dropdown-wrapper {
  border: 1px solid var(--borderLightGray);
  margin-bottom: 15px;
  border-radius: 5px;

  .dropdown-handler {
    position: relative;
    padding: 15px 22px;
    background-color: transparent;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    .fRegular();

    .icon {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      height: 10px;
    }
  }

  .dropdown-items {
    padding: 0 10px;

    .dropdown-list {
      margin-bottom: 25px;
      border-top: 1px solid var(--borderLightGray);
      padding-top: 17px;
    }

    .list .list-item {
      margin-bottom: 0;

      .item {
        border-width: 0;
        color: var(--neutral900);

        .title {
          font-size: 14px;
          .fLight();
        }
      }
    }
  }

  &.collapsible {
    .dropdown-items {
      height: auto;
      max-height: 0;
      opacity: 0;
      &.open {
        max-height: none;
        opacity: 1;
      }
    }
  }
}
