.dropdown-wrapper {
  border: 1px solid var(--borderLightGray);

  .dropdown-title {
    padding: 15px 22px;
    background-color: transparent;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
}
