@import (css)
  url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap&subset=latin-ext");
@import (css)
  url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap&subset=latin-ext");
@import (css)
  url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.fPoppinsLight() {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.fLight() {
  font-family: "Roboto";
  font-weight: 300;
}
.fRegular() {
  font-family: "Roboto";
  font-weight: 400;
}
.fBold() {
  font-family: "Roboto";
  font-weight: 500;
}
.fItalic() {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
}
.fSecondaryRegular() {
  font-family: "Poppins";
  font-weight: 400;
}
.fSecondaryBold() {
  font-family: "Poppins";
  font-weight: 500;
}
