.icon {
  --articleIcon: url("../images/icons/Article.svg");
  --videoIcon: url("../images/icons/Video.svg");
  --walkthruIcon: url("../images/icons/Walkthru.svg");
  --arrowDownIcon: url("../images/icons/arrow-down.svg");
  --doubleArrowsLeftIcon: url("../images/icons/double-arrows-left.svg");
  --checkMarkIcon: url("../images/icons/checkmark.svg");
  --closeIcon: url("../images/icons/close.svg");
  --backArrowIcon: url("../images/icons/back-arrow.svg");
  --doubleCheckMarkIcon: url("../images/icons/double-checkmarks.svg");

  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  transition: background-color 0.3s;
  pointer-events: none;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    fill: currentColor;
    > * {
      transform: color 0.3s, stroke 0.3s;
    }
  }

  &.tested {
    .doubleCheckMarkIcon();
  }

  &.back-arrow {
    .backArrowIcon();
  }

  &.arrow-right {
    .triangleRight();
  }

  &.arrow-left {
    .triangleLeft();
  }

  &.check {
    .checkIcon();
  }

  &.success,
  &.completed {
    .successIcon();
  }

  &.error {
    .errorIcon();
  }

  &.question {
    .questionIcon();
  }

  &.article {
    .articleIcon();
  }

  &.smart-walkthru {
    .walkthruIcon();
  }

  &.video {
    .videoIcon();
  }

  &.sidebar-handler {
    .doubleArrowsLeftIcon(var(--iconBGLight));
    transform: rotate(180deg);
  }
}

.triangleDown(@color: currentColor) {
  width: 8px;
  height: 5px;
  background-color: @color;
  -webkit-mask-image: var(--arrowDownIcon);
  mask-image: var(--arrowDownIcon);
}

.triangleRight(@color: currentColor) {
  .triangleDown(@color);
  transform: rotate(-90deg);
}

.triangleLeft(@color: currentColor) {
  .triangleDown(@color);
  transform: rotate(90deg);
}

.doubleArrowsLeftIcon(@color: currentColor) {
  width: 8px;
  height: 6px;
  // background-color: @color;
  // -webkit-mask-image: var(--doubleArrowsLeftIcon);
  // mask-image: var(--doubleArrowsLeftIcon);

  svg path {
    fill: @color;
  }
}

.doubleCheckMarkIcon(@color: var(--primary)) {
  width: 15px;
  height: 8px;
  // background-color: @color;
  // -webkit-mask-image: var(--doubleCheckMarkIcon);
  // mask-image: var(--doubleCheckMarkIcon);

  svg path {
    fill: @color;
  }
}

.fillTriangleDown(@color: currentColor, @size: 4.5px) {
  width: 9px;
  height: 6px;
  -webkit-mask-image: none;
  mask-image: none;
  background-color: transparent;
  transform-origin: center;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
    position: relative;
  }
}

.fillTriangleRight(@color: currentColor, @size: 4.5px) {
  .fillTriangleDown(@color, @size);
}

.backArrowIcon() {
  height: 18px;
  width: 20px;
  background-color: var(--primary300);
  -webkit-mask-image: var(--backArrowIcon);
  mask-image: var(--backArrowIcon);
}

.checkIcon () {
  height: 8px;
  width: 11px;
  // background-color: var(--primary);
  // -webkit-mask-image: var(--checkMarkIcon);
  // mask-image: var(--checkMarkIcon);
}

.articleIcon () {
  // background-color: var(--iconBGLight);
  // -webkit-mask-image: var(--articleIcon);
  // mask-image: var(--articleIcon);

  svg path {
    stroke: var(--iconBGLight);
  }
}

.walkthruIcon () {
  // background-color: var(--iconBGLight);
  // -webkit-mask-image: var(--walkthruIcon);
  // mask-image: var(--walkthruIcon);

  svg path {
    stroke: var(--iconBGLight);
  }
}

.videoIcon () {
  // background-color: var(--iconBGLight);
  // -webkit-mask-image: var(--videoIcon);
  // mask-image: var(--videoIcon);

  svg path {
    stroke: var(--iconBGLight);
  }
}

.closeIcon () {
  width: 15px;
  height: 15px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.successIcon() {
  // .checkIcon();
  // background-color: var(--success);

  svg path {
    fill: var(--primary);
  }
}

.errorIcon() {
  .closeIcon();

  svg path {
    fill: var(--error);
  }
}

.questionIcon() {
  width: 15px;
  height: 15px;

  &:before {
    content: "?";
    width: 100%;
    height: 100%;
    color: var(--white);
    border-radius: 50%;
    background: var(--primary);
    display: block;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
  }
}

.loaderIcon(@size: 15px, @opacity: 1,  @borderWidth: 2px, @top: 0, ) {
  &:before {
    content: "";
    border: @borderWidth solid var(--bgLight);
    border-top: @borderWidth solid var(--primary);
    border-radius: 50%;
    width: @size;
    height: @size;
    -webkit-animation: loaderSpin 2s linear infinite; /* Safari */
    animation: loaderSpin 2s linear infinite;
    animation-delay: 0.3s;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: @top;
    opacity: 0;
  }
}
