@import (reference) "../../../../../../styles/globals.less";
@import (reference)
  "../../../../common/list/list-item/teach-me-list-item/index.less";

.screen.courses-screen {
  @media @desktopOnly {
    padding-right: 10px;
  }
}

.courses-screen {
  display: flex;
  justify-content: start;
  flex-direction: column;

  .user-details {
    width: 100%;
    height: auto;
    margin: 0 0 35px 0;
    max-width: var(--scrolledContentMaxWidth);
  }

  .list.courses {
    display: grid;
    grid-column-gap: 17px;
    grid-row-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    width: 100%;
    max-width: calc(var(--scrolledContentMaxWidth) - 5px);

    @media @mobileToDesktop {
      grid-template-columns: 1fr 1fr;
    }

    @media @mobileOnly {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    @media @tinyOnly {
      grid-template-columns: 1fr;
    }
  }

  .list.courses {
    margin-bottom: 20px;
    .list-item {
      margin-bottom: 0;
      opacity: 0;
      border: 0;

      &.fadeInUp {
        animation: fadeInUp 0.3s linear both;
        .nthChildAnimationDelay(20);
      }

      .item {
        .horizontalLayout();
        grid-template-rows: 105px auto;
        grid-template-columns: 105px 1fr;

        @media @tinyOnly {
          grid-template-rows: 105px auto;
          grid-template-columns: 135px 1fr;
        }

        header {
          padding: 0;
        }

        .title {
          .fRegular();
          letter-spacing: -0.3px;

          @media @desktopOnly {
            max-width: var(--maxTitleWidth);

            .text {
              .ellipsis();
            }
          }
        }

        .thumb {
          @media @desktopOnly {
            height: 104px;

            img {
              width: 300px;
              max-width: none;
            }
          }

          .ratio_1_1 {
            @media @tabletToDesktop {
              display: none;
            }
          }
          .ratio_2_1 {
            @media @mobileOnly {
              display: none;
            }
          }
        }
      }
    }

    .list-item .item {
      @media @tabletToDesktop {
        .verticalLayout();

        article {
          grid-template-rows: 35px 30px;

          header {
            padding-top: 8px;
          }
        }
      }

      @media @tabletOnly {
        article {
          padding: 0 12px;
        }
      }
    }
  }
}
