@import "../../../variables.less";

.list.courses .list-item {
  margin-bottom: 0;
}

.horizontalLayout {
  display: grid;
  grid-template-rows: 105px auto;
  grid-template-columns: 105px 1fr;
  grid-template-areas:
    "thumb article"
    "progressBar progressBar";

  article {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 30px;

    header {
      display: flex;
      align-items: flex-start;
      height: 100%;
      padding-top: 15px;
    }
  }
}

.verticalLayout {
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "thumb"
    "progressBar"
    "article";

  article {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 30px;

    header {
      align-items: center;
      padding-top: 0;
    }

    footer {
      .test-status {
        margin-right: 10px;
      }
    }
  }
}

.list-item .item {
  .horizontalLayout();

  @media @tinyOnly {
    grid-template-rows: 100px auto;
    grid-template-columns: 140px 1fr;
  }

  .thumb {
    grid-area: thumb;
    height: 105px;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 100%;
    }

    .ratio_1_1 {
      @media @tabletOnly {
        display: none;
      }
    }
    .ratio_2_1 {
      @media @mobileOnly {
        display: none;
      }
    }
  }

  article {
    padding: 5px 10px 18px;
    display: grid;
    align-items: center;
    grid-area: article;

    footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .test-status {
        margin-left: auto;
        font-size: 10px;
      }

      .btn {
        text-transform: uppercase;

        span {
          height: 15px;
          line-height: 15px;
        }

        &:not(.completed) {
          span {
            position: relative;
            padding-right: 15px;

            &:after {
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              width: 4.5px;
              height: 4.5px;
              border-bottom: solid 1.5px currentColor;
              border-right: solid 1.5px currentColor;
              -webkit-transform: rotate(-45deg) translateY(-50%);
              transform: rotate(-45deg) translateY(-50%);
            }
          }
        }
      }
    }
  }

  .progress-bar {
    grid-area: progressBar;
    .progressBar {
      height: 8px;
    }
  }
}

@media @tabletOnly {
  .list-item .item {
    .verticalLayout();
  }
}
