.course-screen {
  .course-information {
    .progress-bar-wrapper {
      margin-bottom: 15px;
    }
  }

  .course-lessons {
    .list .list-item {
      &.completed {
        .title {
          text-decoration: line-through;
          text-decoration-color: currentColor;
        }
      }
    }
  }
}
