@import "../../variables.less";

.courses-screen {
  .user-details {
    width: 100%;
    height: auto;
    margin: 0 auto 35px;
  }

  .list.courses {
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;

    @media @tabletToDesktop {
      grid-template-columns: 1fr 1fr;
    }

    @media @mobileOnly {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    @media @tinyOnly {
      grid-template-columns: 1fr;
    }
  }
}
