@import "../../variables.less";
@import "../../mixins.less";

:root {
  --quizBoxWidthDesktop: 290px;
  --gridColumnGap: 17px;
  --courseInformationWidth: calc(
    100% - (calc(var(--quizBoxWidthDesktop) + (var(--gridColumnGap) * 2)))
  );
}
.screen.course-screen {
  padding-right: 5px;

  > .course {
    max-width: var(--scrolledContentMaxWidth);
  }

  .course-information {
    .progress-bar-wrapper {
      margin-top: -20px;
    }
  }

  .course-lessons-wrapper {
    padding-top: 15px;
    margin-bottom: 20px;

    @media @desktopOnly {
      height: 510px;
      overflow: hidden;
      padding-right: 10px;
      margin-bottom: 0;

      .course-items {
        max-width: 563px;
      }

      &:hover {
        overflow: scroll;
      }
    }
  }

  .dropdown-wrapper {
    .hoverFloating();
  }

  .course-items {
    li:last-child {
      &.list-item,
      &.lesson-item .dropdown-wrapper {
        margin-bottom: 0;

        &.collapsible.open {
          margin-bottom: 20px;
        }
      }
    }

    .dropdown-handler .btn .icon {
      &.check:before {
        border-bottom: solid 1px var(--primary);
        border-left: solid 1px var(--primary);
      }
    }
  }

  .course-items .list-item,
  ul .list-item {
    margin-bottom: 20px;
  }

  .list-item.task-item > .item {
    box-shadow: var(--elementShadow);
    .hoverFloating();

    .item-info .item-handler {
      padding: 0 12px;

      > .icon {
        right: 20px;
      }
    }

    &.disabled {
      .title .text {
        opacity: 0.6;
      }
      .disabled-message {
        left: 44px;
        padding-left: 10px;
      }
    }
  }

  .list-item {
    > .item.completed {
      .title {
        text-decoration: line-through;
        text-decoration-color: currentColor;

        .text {
          opacity: 0.6;
        }
      }
    }
  }

  .course-quiz {
    padding-top: 15px;
    width: 100%;
    height: 300px;

    .item.tm-item-info {
      @media @tabletOnly {
        grid-template-rows: 155px;
        grid-template-columns: 185px 1fr;

        article {
          header {
            padding-top: 20px;
          }
        }

        .thumb {
          position: relative;

          img {
            width: 320px;
            max-width: none;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }

      .thumb {
        max-height: 180px;
      }

      @media @desktopOnly {
        .thumb {
          max-height: 143px;
        }
      }

      article {
        padding: 5px 17px 18px;

        footer {
          padding-top: 5px;

          .btn .btn-label {
            padding: 0 12px;
          }
        }
      }
    }
  }

  .course-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .course.with-quiz {
    .course-information {
      @media @desktopOnly {
        max-width: var(--courseInformationWidth);
      }
    }

    .course-content {
      @media @desktopOnly {
        grid-template-columns: 2fr var(--quizBoxWidthDesktop);
        grid-column-gap: var(--gridColumnGap);
      }
    }
  }
}
