@import "../../variables.less";
@import "../../mixins.less";

.screen.course-screen {
  --quizBoxWidthDesktop: 290px;
  --gridColumnGap: 17px;
  --courseInformationWidth: calc(
    100% - (calc(var(--quizBoxWidthDesktop) + var(--gridColumnGap)))
  );

  padding-right: 5px;

  .course {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  .course-information {
    .progress-bar-wrapper {
      margin-top: -20px;
    }
  }

  .course-lessons-wrapper {
    padding-top: 15px;
    margin-bottom: 20px;

    @media @desktopOnly {
      min-height: 630px;
      max-height: 630px;
      overflow: scroll;
      padding-right: 10px;
    }
  }

  .dropdown-wrapper {
    .hoverFloating();
  }

  .list.tasks-list .list-item > .item {
    box-shadow: var(--elementShadow);
    .hoverFloating();

    .item-info .item-handler {
      padding: 0 10px;
      > .icon {
        right: 20px;
      }
    }
  }

  .list .list-item {
    &.completed {
      > .item {
        .title {
          text-decoration: line-through;
          text-decoration-color: currentColor;

          .text {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .course-quiz {
    padding-top: 15px;
    width: 100%;
    height: 300px;

    .item.tm-item-info {
      @media @tabletOnly {
        grid-template-rows: 155px;
        grid-template-columns: 185px 1fr;

        article {
          header {
            padding-top: 20px;
          }
        }
      }

      .thumb {
        max-height: 180px;
      }

      @media @desktopOnly {
        .thumb {
          max-height: 143px;
        }
      }

      article {
        padding: 5px 17px 18px;

        footer {
          padding-top: 5px;

          .btn .btn-label {
            padding: 0 12px;
          }
        }
      }
    }
  }

  .course-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .course.with-quiz {
    .course-information {
      @media @desktopOnly {
        max-width: var(--courseInformationWidth);
      }
    }

    .course-content {
      @media @desktopOnly {
        grid-template-columns: 2fr var(--quizBoxWidthDesktop);
        grid-column-gap: var(--gridColumnGap);
      }
    }
  }
}
