@import "../../variables.less";
@import "../../mixins.less";
@import "../../icons.less";

.quiz-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  &:hover {
    overflow-y: hidden;
  }

  .iframe-container.responsive {
    max-width: 500px;
    padding-top: 500px;
  }
}
